body {
	font: 16px/1.5 sans-serif;
	background-color: #ccc;
}

#container {
	width: 400px;
	margin: 0 auto;
	background-color: #fff;
	padding: 1em;
	box-shadow: 3px 3px 5px -1px #666;
}

#list,
#add-item-form ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#list li,
#add-item-form li {
	position: relative;
	padding: 1em;
	border: 1px outset #ccc;
	margin-bottom: .5em;
}

.done {
	border-color: #eee;
	color: #ccc;
	text-decoration: line-through;
}

li .remove {
	position: absolute;
	right: 1em;
	top: 1em;
	opacity: 0;
	-webkit-transition: opacity .4s;
	transition: opacity .4s;
	color: #c00;
	width: 1.5em;
	text-align: center;
	cursor: pointer;
}

li:hover .remove {
	opacity: 1;
}

li .remove:hover {
	background-color: #c00;
	color: #fff;
}

#add-item-form li {
	padding: 0;
}

li input {
	border: 0;
	margin: 0;
	padding: 1em;
	font-size: 1em;
	width: 100%;
	box-sizing: border-box;
}



